<input type="text" @bind-value="@message" />
<input type="text" @bind-value="@text" />
<input type="button" value="Haga clic aquí" @onclick="ChangeText" />

<p>@message</p>

@code {
	string message = "Un contenido";
	string text;

	private void ChangeText()
	{
		message = text;
	}
}
